* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**********recipe card list design   *****/
.recipelist {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 2rem;
  padding: 1rem;
  justify-content: space-between;
}

/**********recipe card design   *****/
.recipecard {
  background: #f4f4f4;

  margin: 1rem;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
  padding: 1rem;
  list-style: none;
}
.recipecard img {
  width: 100%;
}

/**********recipe singlecard  design   *****/
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*****post button ***/

.postbutton {
  display: block;
  margin: 1em auto;
}

/*** Search box ***/
.searchbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  margin: auto;
}
.searchbox input {
  margin-left: 10px;
  padding: 14px;
  font-size: 1rem;
  font-family: inherit;
  width: 50vw;
}
.form {
  width: 600px;
  margin-left: 300px;
  margin-top: 100px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px #333;
}
